version: '3.8'
services:
  db:
    image: postgres:16
    container_name: blogging-db
    environment:
      POSTGRES_DB: blogging_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: UTC
    ports:
      - "5432:5432"