spring:
  application:
    name: blogging

  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
          batch_size: 15
        order_inserts: true
        order_updates: true
        query:
          fail_on_pagination_over_collection_fetch: true
          in_clause_parameter_padding: true
        connection:
          provider_disables_autocommit: true
    hibernate:
      ddl-auto: none

  datasource:
    url: jdbc:postgresql://localhost:5432/blogging_db?options=-c%20timezone=UTC
    username: postgres
    password: postgres
    hikari:
      auto-commit: false
      connection-timeout: 30000
      maximum-pool-size: 10
      max-lifetime: 180000
      pool-name: blogging-platform

  liquibase:
    change-log: classpath:liquibase/changelog.yaml
    enabled: true

security:
  jwt:
    secret: ${JWT_SECRET}
    expiration-time: 3600000